<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900168387093-8mnbbbtqm87pbrcf9tlo1g80sjr4779h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900168387093-8mnbbbtqm87pbrcf9tlo1g80sjr4779h</string>
	<key>API_KEY</key>
	<string>AIzaSyAYzpl3X8SOvgu_IOa9eZPWkYxZNoPB3WU</string>
	<key>GCM_SENDER_ID</key>
	<string>900168387093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.wsu.RestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>order-n-rate</string>
	<key>STORAGE_BUCKET</key>
	<string>order-n-rate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900168387093:ios:61ac5bf483f45ac71e9c1c</string>
</dict>
</plist>